@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'Android';
    src: url(../fontes/idroid.otf); format:('opentype');
    font-weight: normal;
}


:root{
    --cor0:  #c5ebd6;
    --cor01:   #83e1ad;
    --cor03:   #3ddc84;
    --cor04:   #2fa866;
    --cor05:   #1a5c37;
    --cor06:   #063d1e;
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-Android:'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
    
}

header{
    background-image: linear-gradient(to bottom, var(--cor04), var(--cor06));
    color: white;
    padding-top: 40px;

}

header h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 2px 10px black;
}
header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 10px black;
}

nav{
    background-color: var(--cor06);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.39);
}

nav > a{
    color: var(--cor0);
    padding: 15px;
    height: 2px;
    margin-bottom: 30px;
    padding-bottom: 0px;
    border-radius: 6px;
    padding-top: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;

}

nav > a:hover{
    background-color: var(--cor04);
    color: var(--cor06);
}

a.externo::after{
    content: '\00A0\26D3';
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.video{
    background-color: var(--cor06);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.3em;
}

main strong{
    font-weight: bold;
    color: var(--cor03);
}

main a{
    color:black ;
    text-decoration:underline var(--cor06);
    background-color: var(--cor03);
    font-weight: bold;
}

main img.menor{
    margin: auto;
    width: 350px;
    display: block;
}


main img{
    width: 100%;
}

main h1{
    color: var(--cor06);
    font-family: var(--font-Android);
}

main h2{
    font-family: var(--font-Android);
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor01), transparent);
}

aside{
    background-color: var(--cor03);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.342);
    
}

aside h3{
    background-color: var(--cor05);
    color: white;
    margin: -10px -10px 0px -10px ;
    border-radius: 9px 9px 0px 0px;
    padding: 10px;
}

aside ul{
    list-style-position: inside;
    list-style-type: '\2B55\00A0\00A0';
    columns: 2;
}

footer{
    background-color: var(--cor06);
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

footer a{
    color: var(--cor04);
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor03);

}